.boosts-section {
  @include media(desktop) {
  }
}

.boosts-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.boosts-container {
  @include media(desktop) {
  }
}

.boosts-content-wrapper {
  @include media(desktop) {
  }
}

.boosts-title {
  @include media(desktop) {
  }
}

.boosts-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #192a4d;
  margin-bottom: 64px;

  @include media(desktop) {
    font-size: 26px;
    max-width: 864px;
    margin-left: auto;
    margin-right: auto;
  }
}

.boosts-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
