.contact-section {
  background: radial-gradient(
    148.89% 46.63% at 53.37% 50.11%,
    #fd8e30 0%,
    #5e0227 100%
  );

  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 120px;
    max-width: 1440px;
    position: relative;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  @include media(desktop) {
  }
}

.contact-title {
  color: #fff;
  margin-bottom: 8px;

  @include media(desktop) {
  }
}

.contact-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 26px;
  }
}

.contact-link {
  background: #fff;
  border-radius: 12px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  color: #192a4d;
  word-break: break-all;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 22px;
  }
}

.email-icon {
  min-width: 24px;

  @include media(desktop) {
  }
}

.contact-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #f0f0f0;
  margin-bottom: 10px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.contact-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 25px;
  }
}
