.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 363px;
  padding-bottom: 24px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 102px;
    padding-bottom: 135px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
    max-width: 572px;
  }
}

.hero-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.hero-subtitle {
  font-family: 'EB Garamond', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 32px;
    max-width: 418px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #e9e9e9;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 18px;
    max-width: 418px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff7062;
  border-radius: 12px;
  padding: 12px 20px;
  width: 100%;
  max-width: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #e96052;

    .her-btn-top-text {
      color: #fff;
    }

    .her-btn-bottom-text {
      color: #fff;
    }
  }

  @include media(desktop) {
    max-width: 240px;
  }
}

.hero-btn-text-wrapper {
  @include media(desktop) {
  }
}

.her-btn-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-bottom: 4px;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.her-btn-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}
