.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 76px;
  padding-bottom: 24px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 62px;
    padding-bottom: 74px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
    max-width: 552px;
  }
}

.hero-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 251px;

  @include media(desktop) {
    margin-bottom: 37px;
  }
}

.hero-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #192a4d;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 26px;
    margin-bottom: 37px;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ab00e0 0%, #5d007a 100%);
  border-radius: 12px;
  padding: 12px 20px;
  width: 100%;
  max-width: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: linear-gradient(180deg, #9400c1 0%, #46005b 100%);

    .her-btn-top-text {
    }

    .her-btn-bottom-text {
    }
  }

  @include media(desktop) {
    max-width: 240px;
  }
}

.hero-btn-text-wrapper {
  @include media(desktop) {
  }
}

.her-btn-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-bottom: 4px;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.her-btn-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}
