<section class="section boosts-section" id="boosts">
  <div class="boosts-bg-wrapper">
    <div class="container boosts-container">
      <div class="boosts-content-wrapper">
        <h2 class="section-title boosts-title">Power-Ups & Boosts</h2>
        <p class="boosts-text">
          There are some neat power-ups that can really change how you approach
          each puzzle. Use boosters to clear tricky tiles or enhance combos.
          These boosters don't just make things easier - they actually make the
          game more strategic.
        </p>
        <picture>
          <source
            srcset="./img/boosts/boosts-img-desk.png"
            media="(min-width: 1440px)"
            width="1312"
            height="610" />
          <source
            srcset="./img/boosts/boosts-img-mob.png"
            width="343"
            height="242" />
          <img
            class="boosts-img"
            src="./img/boosts/boosts-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="242"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
