<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Is Match Valley free to play?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes, the game is free with optional in-app purchases.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Do moves matter?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Absolutely — every match contributes to strategy and hero evolution.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Can I play offline?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">Yes — Match Valley supports offline play.</p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Are there power-ups?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes, multiple exciting power-ups enhance gameplay.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">How do heroes work?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Match tiles to create and upgrade heroes with special abilities.
        </p>
      </li>
    </ul>
  </div>
</section>
