<section class="section heroes-section" id="heroes">
  <div class="heroes-bg-wrapper">
    <div class="container heroes-container">
      <div class="heroes-content-wrapper">
        <h2 class="section-title heroes-title">Heroes</h2>
        <ul class="heroes-list">
          <li class="heroes-list-item">
            <img
              class="heroes-img"
              src="./img/heroes/heroes-img1.png"
              alt="Screenshot of the game"
              width="96"
              height="93"
              loading="lazy"
            />
            <p class="heroes-item-text">
              You'll unlock different heroes as you play, and they've all got
              their own special abilities.
            </p>
          </li>
          <li class="heroes-list-item">
            <img
              class="heroes-img"
              src="./img/heroes/heroes-img2.png"
              alt="Screenshot of the game"
              width="96"
              height="93"
              loading="lazy"
            />
            <p class="heroes-item-text">
              Unlock and level them up as you match items.
            </p>
          </li>
          <li class="heroes-list-item">
            <img
              class="heroes-img"
              src="./img/heroes/heroes-img3.png"
              alt="Screenshot of the game"
              width="96"
              height="93"
              loading="lazy"
            />
            <p class="heroes-item-text">
              Combine hero skills strategically to overcome enemy waves.
            </p>
          </li>
          <li class="heroes-list-item">
            <img
              class="heroes-img"
              src="./img/heroes/heroes-img4.png"
              alt="Screenshot of the game"
              width="96"
              height="93"
              loading="lazy"
            />
            <p class="heroes-item-text">
              Heroes grow stronger with each success and support your castle
              defense.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
